@import '../../utils/fonts';
@import '../../utils/variables';

.year {
  display: flex;
  align-items: center;
  font-family: 'Aeonik';
  margin-left: 10px;
}

.month_name {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: $title;
}

.count_year {
  font-size: 18px;
  font-weight: bold;
  line-height: 27px;
  margin-left: 4px;
}

.wrapper_slider {
  max-width: fit-content;
  margin-top: 20px;
}
