@import '../../utils/variables';

.wrapper {
  max-width: calc(333px - 34px);
  padding: 15px 17px;
  border: 1px solid $dividers;
  grid-column-start: 1;
  grid-column-end: 1;
  height: 980px;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent !important;
  }
}
