@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/Aeonik/AeonikTRIAL-Regular.otf');
}

@font-face {
  font-family: 'Aeonik';
  font-weight: bold;
  src: url('../fonts/Aeonik/AeonikTRIAL-Bold.otf');
}
