$primary-default: #582be7;
$primary-focuse: #9b80f1;
$primary-disable: #ded5fa;
$secondary-default: #f0ecff;
$secondary-focuse: #f6f4ff;
$secondary-disable: #fcfbff;
$error-default: #fc5830;
$error-focus: #fd9b83;
$error-disable: #feded6;
$warning-default: #ffad05;
$warning-foces: #ffce69;
$warning-disable: #ffefcd;
$success-default: #00ba34;
$success-focuse: #66d685;
$success-disable: #ccf1d6;
$info-default: #377dff;
$info-focuse: #87b0ff;
$info-disable: #d7e5ff;
$title: #1c2025;
$text: #8b8b8b;
$dividers: #ededf1;
$background: #f7f6f9;
$element: #fff;
