@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: normal;
  src: url('../../../fonts/Aeonik/AeonikTRIAL-Regular.otf');
}

.wrapper {
  display: flex;
}

.day {
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  font-family: 'Aeonik';
  color: #bdbdbb;
  width: 38px;
  height: 28px;
}
